body {
  font-size: 16px;
  margin: 0 auto;  /* Para que el contenedor este centrado */
  text-align:center;
}

h2{
  text-align: center;
  margin-bottom: 10px;
  color:#FFF;
  font-family:Verdana, Geneva, sans-serif;
  font-size: 30px;
}

.Boton {
    background-color: #ffffff;
    border-width:5px;
	border-style:solid;
	border-color:rgba(121, 121, 121, 1);
	border-radius:10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* HEADER   */
#header {   
  top:5px;
  height:170px;
  float: none;
  background:inherit;
  background-color: rgba(0, 255, 255);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

/* navBar  */
#navBar {
  top:30px;
  height:70px;
  float: none;
}


/* leftMenu  */
#leftMenu {
  top:30px;
  height:320px;
  float: left;
  background:inherit;
  background-color: rgba(255, 255, 255);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  padding-top: 30px;
 }

 
 
/* content */
#content {
  top:30px;
  height:320px;
  float: left;
  background:inherit;
  background-color: rgba(51, 153, 51);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}



/* rigthMenu */
#rightMenu {
  top:30px;
  height:320px;
  float: left;
  background:inherit;
  background-color: rgba(0, 0, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

/* footer  */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  top:50px;
  height:60px;
  float: none;
  background:inherit;
  background-color: rgba(255,255,0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}


